.form-container {
    background: rgba(255, 255, 255, 0.9); /* White background with transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    position: absolute;
    
}