<div class="row">
    <div class="col-md-12">
        <mat-card class="example-card" appearance="outlined">
            <mat-card appearance="outlined" class="center-card">
                <div class="row justify-content-center text-center">
                    <mat-card-header>
                        <div class="form-container">
                            <label class="mat-label-custom">State:</label>
                            <mat-form-field class="full-width">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </mat-card-header>
                </div>
            </mat-card>

            <mat-card-content>
                <div class="demo-button-container mt-4">
                    <button mat-raised-button (click)="addData()" class="demo-button">
                        Add State
                    </button>
                    <button
                        mat-raised-button
                        [disabled]="!dataSource.length"
                        (click)="removeData()"
                        class="demo-button">
                        Show
                    </button>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                    <ng-container matColumnDef="SrNo">
                        <th mat-header-cell *matHeaderCellDef>Sr No.</th>
                        <td mat-cell *matCellDef="let element">{{element.SrNo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Statename">
                        <th mat-header-cell *matHeaderCellDef>State Name</th>
                        <td mat-cell *matCellDef="let element">{{element.Statename}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>

            <!-- Centered Footer Chips -->
            <div class="row justify-content-center">
                <mat-card-footer class="example-card-footer">
                    <mat-chip-set aria-label="Actions">
                        <mat-chip>Delete</mat-chip>
                        <mat-chip>Details</mat-chip>
                        <mat-chip>Close</mat-chip>
                    </mat-chip-set>
                </mat-card-footer>
            </div>

        </mat-card>
    </div>
</div>
